
body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: 'Koulen', cursive;
  font-size: 1em;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#checklist {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#giyu-profile {
	border-radius: 50%;
	max-width: 200px;
}

#header {
	display: flex;
	flex-direction: row;
	padding: 10%;

}

.faveButton {
	display: block;
	padding: 10px 38px;
	background-color: yellow;
	justify-content: space-around;
}

#interest-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly; 
}

#interest {
	display: flex;
	flex-direction: column;
	border: 10px solid black;
	text-align: justify;
	padding: 10%;
}

#skills {
	display: flex;
	flex-direction: column;
	border: 10px solid black;
	text-align: justify;
	padding: 10%;
}

#career-goals {
	display: flex;
	flex-direction: column;
	border: 10px solid black;
	text-align: justify;
	padding: 10%;
}

#career-para {
	line-height: 2em ;
}

#bio {
	display: flex;
	flex-direction: column;
	padding: 10%;
}

#funny {
	border: 10px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10%;
}

#dj {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10%;

}

#lukas {
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10%;

}